{% extends "base.jinja2" %}
  {% block content %}
    <header class="masthead">
      <div class="container">
        <img class="img-fluid" src="static/img/profile.png" alt="">
        <div class="intro-text">
          <span class="name">NapTrack</span>
          <hr class="star-light">
          <span class="skills">Sign up to track naps and meals.</span>
        </div>
      </div>
    </header>
  {% endblock %}
