{% extends "base.jinja2" %}
{% block content %}
  <header class="masthead">
    <div class="container">
      <img class="img-fluid" src="static/img/profile.png" alt="">
      <div class="intro-text">
        <span class="name">NapTrack</span>
        <hr class="star-light">
        <span class="skills">Naptrack helps new parents keep track of naps. Sleep you little bastards.</span>
      </div>
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="/signup">
        <i class="fa fa-download mr-2"></i>
        Sign up!
      </a>
    </div>
  </header>
{% endblock %}

{% block header %}
  <li>
    <a class="btn btn-xl btn-outline-light" href="timers">
      <i class="fa fa-download mr-2"></i>
      My Timers
    </a>
  </li>
{% endblock %}

{% block logic %}
{% endblock %}
