{% extends "base.jinja2" %}
{% block content %}
  <header class="masthead">
    <div class="container">
      <img class="img-fluid" src="static/img/profile.png" alt="">
      <div class="intro-text">
        <span class="name">NapTrack</span>
        <hr class="star-light">
        <span class="skills">Naptrack helps new parents keep track of naps. Sleep you little bastards.</span>
      </div>
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="/signup">
        <i class="fa fa-download mr-2"></i>
        Sign up now!
      </a>
    </div>
  </header>
{% endblock %}

{% block header %}
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Login
    <i class="fa fa-user"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <form id="login-form">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
      </div>
      <div class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            Remember Password
          </label>
        </div>
      </div>
      <a class="btn btn-primary btn-block" id="btn-login">Login</a>
    </form>
    <div class="text-center">
      <a class="d-block small mt-3" href="/signup">Register an Account</a>
      <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
    </div>
  </div>
{% endblock %}

{% block logic %}
{% endblock %}
