{% extends "base.jinja2" %}
{% block content %}
    <section id="timers">
      <div class="container">
        <h2 class="text-center">Timers</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            <h2>Last Nap</h2>
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                <div id="countup">
                  It's been
                  <p id="days">00</p>
                  <p class="timeRefDays">days</p>
                  <p id="hours">00</p>
                  <p class="timeRefHours">hours</p>
                  <p id="minutes">00</p>
                  <p class="timeRefMinutes">minutes</p>
                  <p id="seconds">00</p>
                  <p class="timeRefSeconds">second</p>
                </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-4 portfolio-item">
            <h2>Last Meal</h2>
            <a class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                <div id="countup">
                  It's been
                  <p id="days">00</p>
                  <p class="timeRefDays">days</p>
                  <p id="hours">00</p>
                  <p class="timeRefHours">hours</p>
                  <p id="minutes">00</p>
                  <p class="timeRefMinutes">minutes</p>
                  <p id="seconds">00</p>
                  <p class="timeRefSeconds">second</p>
                </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block logic %}
  <script src="js/timers.js"></script>
{% endblock %}
