#countup p {
  display: inline-block;
  padding: 2px;
  margin: 0 0 20px;
}

.navbar-drawer {
  background: #ffffff;;
}

.nav-user {
  display: none;
}

.nav-login {
  display: none;
}

.timer-start {
  display: none;
}

.timer-end {
  display: none;
}

.msg-red {
  background: #ff0000;
  display: none;
}

.msg-green {
  background: #008000;
  display: none;
}
